<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="#">BANPEPITOS </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/principalc" routerLinkActive="active"><i class="fas fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/scredito" routerLinkActive="active"><i class="fas fa-plus-circle"></i>CREDITO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions" routerLinkActive="active"><i class="fas fa-money-check-alt"></i>TRANSACCIONES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transferencia" routerLinkActive="active"><i class="fas fa-people-arrows"></i>TRANSFERENCIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/missolicitudes" routerLinkActive="active"><i class="fas fa-clipboard-list"></i>SOLICITUDES</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i>SALIR</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Fecha</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Debito</th>
      <th scope="col">Credito</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let deb of debe">
          <th scope="row"></th>
          <td>{{deb.fecha}}</td>
          <td>{{deb.descripcion}}</td>
          <td>Q{{deb.cantidad}}</td>
          <td>---------------------------</td>
          <td></td>
        </tr>
        <tr *ngFor="let cre of credito">
          <th scope="row"></th>
          <td>{{cre.fecha}}</td>
          <td>{{cre.descripcion}}</td>
          <td>---------------------------</td>
          <td>Q{{cre.cantidad}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Q{{saldo_cuenta}}</td>
        </tr>
  </tbody>
</table>
<footer class="card card-body">
  <p>Nombre de usuario: {{nombre_usuario}},
  Codigo de usuario: {{codigo_usuario}},
  Numero de cuenta: {{no_cuenta}}</p>
</footer>
